<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding-left:20px;">
  <div class="navbar-brand">Online Store</div>
  <ul class="navbar-nav">
    <li (click)='handleNavClick("home")' [ngClass]="{ 'active' : activeTab === 'home'}" class="nav-item">
      <a class="nav-link">Home</a>
    </li>
    <li (click)="handleNavClick('about-us')" [ngClass]="{ 'active' : activeTab === 'about-us'}" class="nav-item">
      <a class="nav-link">About Us</a>
    </li>
    <li (click)="handleNavClick('contact-us')" [ngClass]="{ 'active' : activeTab === 'contact-us'}" class="nav-item">
      <a class="nav-link">Contact Us</a>
    </li>
  </ul>
</nav>

<app-home *ngIf="activeTab === 'home' "></app-home>
<app-about *ngIf="activeTab === 'about-us'"></app-about>
<app-contact *ngIf="activeTab === 'contact-us'"></app-contact>